<main>
  <h1 class="">Hotel</h1>
  <p>the my hotel name is {{ HotelName }}</p>

  <div [innerText]="numberOfrooms"></div>
  <p>{{ numberOfrooms }}</p>

  <div class="border border-blue-400">
    <p>isRooms: {{ hideRooms }}</p>
    <p [hidden]="hideRooms">Show me</p>
    <button class="border border-x-red-600" type="submit" (click)="toogle()">
      Click me
    </button>
  </div>

  {{ rooms?.availableRooms ?? "No rooms" }}
  <!-- <div *ngIf="rooms.availableRooms > 0">Room list</div> -->
  <!-- <div *ngIf="rooms?.availableRooms > 0">
    {{rooms.totalRooms}}
  </div> -->

  <p *ngIf="isHas()">
    <span>this is true</span>
  </p>
  <p>Access gallery Item {{ galleryItems }}</p>
</main>
